* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    height: 100vh;
    background-image: url(09_minisitio/background.jpg);
    background-size: cover;
    color: #fff;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
    background-color: #005884;
    text-align: center;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #005884; 
    margin-top: auto;
}
img {
    display:block;
    margin: auto;
}

