{ box-sizing: border-box; }
table.SudokuInicial, table.SudokuMedias, table.SudokuResuelto {
	 margin: 10px;
}
*/
tr:first-child td {
	border-top-color: black;
}
tr:nth-child(3n) td {
	border-bottom-color: black;
}
td {
	border: 1px solid lightgrey;
	height: 40px;
	width: 40px;
}
td:first-child {
	border-left-color: black;
}
td:nth-child(3n) {
	border-right-color: black;
}
